* {
  /* layout */
  /* appearance */
  /* position */
  margin: 0 auto;
  /* typography */
  text-align: center;
}

body {
  background: burlywood;
}

.farts {
  /* appearance */
  border: none;
  border-radius: 50%;
  width: 188px;
  height: 174px;
  background: #663300 url("img/transparent_button_normal.png") no-repeat;

  /* position */
  margin: 0 auto;
  /* typography */
  text-align: center;
}

.fartsDown {
  background: #663300 url("img/transparent_button_pressed.png") no-repeat !important;
}
